<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.mgame.jumper"
    version     = "0.0.1" >

	<name>Jumper</name>
	<icon src="icon.png" />
	
	<preference name="orientation" value="landscape" />

	<description>A test runner/jumper</description>

	<author href="" email=""></author>

</widget>